<h1> This is just a template </h1>
<p> HI </p>
<p> Welcome to this page, [insert fancy way to do names here] </p>
<p> <font size = 100 > <b> This does nothing fancy (except make text bold and big)</b> </font> <p>
<p> but one day, it will be a lovely app with auto fill drop down menus </p>
<p> and ideally, other parts will work too ... but for now, there is just this text </p>
<p> <font color = red> Now we have capitals and colorful font! </font> <p>
<p> WE HAVE A SEARCH FUNCTION NOW! SEARCH FOR IMAGES IN OUR DATABASE!!! </p>
<head>
    <title>Search</title>
</head>
<body>
    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</body>
